.home-wrapper {
  /* outline: 1px solid black; */
  margin: 0 auto;
  width: 95%;
  /* min-height: 100%; */
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .home-container {
    height: 100%; 
    display: flex;
  } */

.home-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.home-container h1 {
  align-self: center;
}

.home-container,
p,
h1,
h2 {
  font-size: 2rem;
  /* outline: 1px solid black; */
  /* margin: 0 auto; */
}

.home-container p {
  margin-left: 150px;
  font-size: 1.5rem;
  /* margin-right: -55%; */
}
.home-container h2 {
  align-self: flex-end;
  font-weight: normal;
  /* display: inline; */
  border-bottom: 5px solid red;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons a {
  font-size: 3rem;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem;
}
.icons a:hover {
  transform: scale(1.3);
  transition: 250ms ease;
}
/*368 para arriba*/
@media (min-width: 368px) {
  .home-container p h1 {
    margin-left: 0;
    text-align: center;
  }
  /* .home-wrapper h2 {
      margin: 0 auto;
    } */
}

@media (max-width: 467px) {
  .home-wrapper p,
  .home-wrapper h2 {
    margin: 0 auto;
  }
}
