* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio-wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

@media (max-width: 868px) {
  .portfolio-wrapper {
    display: block;
  }
}
