@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
html,
#root {
  min-height: 100vh;
}

body {
  font-family: Montserrat;
  /* padding: 10px 10%; */
  min-height: 100vh;
  /* overflow: hidden; */
}
.main-wrapper {
  /* border: 1px solid black; */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* outline: 1px solid black; */
  /* padding: 10px 5px; */
  display: grid;
  grid-template: 80px 1fr / 1fr;
}
